/********************************
General
********************************/
a {
	text-decoration: none;
	list-style: none;
}
body {
	font-family: 'Open Sans', sans-serif;
}
#wrapper {
	max-width: 950px;
	margin: auto;
	padding: 0 5%;
}

/********************************
Header
********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
	font-family: 'Changa One', serif-sans;
	margin: 15px 0 0;
	font-weight: bold;
	font-size: 32px;
	color: #444;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #ECECEA;
}

/********************************
Navigation
********************************/
nav {
	background-color: #C3C3BEs;
}
nav ul{
	list-style: none;
	margin: 0 0 0;
	padding: 10px 0;
	text-align: center;
}
nav ul li{
	font-family: 'Changa One', cursive;
	font-weight: 800;
	margin: 0 auto 0;
	padding: 10px 0px;
	display: inline-block;
	font-size: 1.60em;
}
nav a.selected, a:hover {
	color: #ECECEA;
}
nav a {
	padding: 15px 10px;
}

/********************************
Page:The Finals;
********************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #bdc3c7;
}
#gallery li {
	float: left;
	width: 45%;
	margin: 2%;
	background-color: #f5f5f5;
  	color: #bdc3c7;
}
#gallery li a{
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}
#gallery li a p {
  	margin: 0;
  	padding: 5%;
  	font-size: 0.75em;
  	color: #bdc3c7;
}
/********************************
Footer	
********************************/

footer {
	text-align: center;
	font-size: 0.75em;
	clear: both;
	padding-top: 50px;
}
.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
/*******************************
Color
*******************************/
/* links color */
a {
	color: #444;
}
nav a.selected, nav a:hover {
	color: #ECECEA
}
/*Body bacground color*/

body {
	background-color: #9EA7A6;
	margin: 0;

/*footer color */
}
footer {
	color:#444;
	