/********************************
General
********************************/
a {
	text-decoration: none;
	list-style: none;
	color: #6ab47b;
}
/********************************
Header
********************************/


/********************************
Navigation
********************************/


/********************************
Body
********************************/
body {
			background: #ccc
		}
		.sidebar {
			background: #eee
		}
		.blog-content {
			background: #fff
		}

		.container {
			background: #fff
		}

		.active {
			font-weight: bold
		}
/********************************
Footer	
********************************/

		header a {
			color:#444;
		}