@media screen and (min-width: 650px){

/*** The finals***/
#gallery li {
    width: 28.3333%;
  }
  
#gallery li:nth-child(4n) {
    clear: left;
  }
}

/** Header **/
@media screen and (min-width: 660px){
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 30%
	}
	
	#logo {
    	float: left;
	    margin-left: 5%;
	    text-align: left;
	    width: 45%;
	}
	  
	h1 {
	    font-size: 2.5em;
	}
	  
	h2 {
	    font-size: 0.825em;
	    margin-bottom: 20px;
	}
	header {
    	margin-bottom: 60px;
    	border-bottom: 5px solid #C3C3BE;
  }
}