---
layout: default 
---

<div class="content">
    {% if site.posts.size == 0 %}
    <h2>No post found</h2> {% else %} {% for post in paginator.posts %}
    <div class="post-list">
        <h2 class="post-title">
    </h2> {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}

        {% for post in site.posts %}
          <item>
            <title>{{ post.title }}</title>
            <description>{{ post.content }}</description>
          </item>
        {% endfor %}
    </div>
    {% endfor %}
  {% endif %}
</div>
<br>
