---
layout: default 
---
<header class="bloghead">
  </h1>
    <nav class="bloghead-nav">
        {% for nav in site.nav %}
            <span>{{ nav.name }}</span>
        {% endfor %}
    </nav>
</header>
<div class="content">
    {% if site.posts.size == 0 %}
    <h2>No post found</h2> {% else %} {% for post in paginator.posts %}
    <div class="post-list">
        <h2 class="post-title">
    </h2> {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}

        {% for post in site.posts %}
          <item>
            <title>{{ post.title }}</title>
            <description>{{ post.content }}</description>
            <pubDate>{{ post.date }}</pubDate>
            <link>{{ site.url }}{{ post.url }}</link>
            <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
          </item>
        {% endfor %}
    </div>
    {% endfor %}
  {% endif %}
</div>
<br>
