<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="YE4_hiMH2SlyXtwqrhP_dBpU8kIdPY44t_GCHWWNF_w" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
    {% if site.shouldInjectCvDownloadLink != "NO" %}
    <script>
        // Attempts to fetch the latest pdf url, then injects the download link to bottom of the page.
        var req = new XMLHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == XMLHttpRequest.DONE) {
                if (req.status == 200) {
                    try {
                        var responseJSON = JSON.parse(req.responseText);
                        if (responseJSON.assets && responseJSON.assets.length > 0) {
                            var latestReleaseUrl = responseJSON.assets[0].browser_download_url;
                        
                            var directLinkTextNode = document.createTextNode("Latest PDF Version: ");
                            var directLinkElement = document.createElement("a");
                            directLinkElement.text = "Click here to download"
                            directLinkElement.href = latestReleaseUrl;
                            var directLinkContainerElement = document.createElement("div");
                            directLinkContainerElement.appendChild(directLinkTextNode);
                            directLinkContainerElement.appendChild(directLinkElement);
                        
                            var elementToReplace = document.getElementById("footer");
                            elementToReplace.appendChild(directLinkContainerElement);
                        }
                        else {
                            console.error("PDF download link injection failed: Missing asses in response");
                        }
                    }
                    catch(e) { 
                        console.error("PDF download link injection failed: " + e);
                    }
                }
                else{
                    console.error("PDF download link injection failed: Response status code not 200 ("+req.status+")");
                }
            }
        };
        req.open("GET", "https://api.github.com/repos/deralation/deralation.github.io/releases/latest", true);
        req.send();
      </script>
      {% endif %}
</head>
