<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">

    <div class='header-container'>
        {% include header.html %}
    </div>

    <section class="posts inner">
        {{ content }}
    </section>

    <section class="contact-detail inner">
        {% include contact.html %}
    </section>
    
    {% include footer.html %}
</body>

<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>

</html>
